body{
    margin: 0px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.page{
    display: flex;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    color : white;
    background-color: #606060;
    border-radius: 15px;
    border: solid 5px;
    margin: 20px;
    transition: 500ms;
}
.info:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 275px;
    color : white;
    background-color: #606060;
    border-radius: 15px;
    border: solid 5px;
    margin: 20px;
    transition: 500ms;
}
nav {
    background-color: #000000;
    padding: 20px;
    
  }
  ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
  }
ul li {
    position : relative;
    list-style: none;
}
ul li a {
    position : relative;
    font-size: 3em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}
ul li a::before{
    content: attr(data-text);
    position : absolute;
    color : #fff;
    width: 0%;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid #fff;
}
ul li a:hover::before {
    width: 100%;
}
.div-page{
    width: 100vw;
    height: 100vh;

}
#contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #606060;
    color:#fff;
    height: 10vh;
    justify-content: space-around;
}
#contact div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
#présentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    height: 100vh;
}
.presdesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    height: 100vh;
}
.sec-texts li {
    font-size: 30px;
    color : rgb(153, 16, 187);
    list-style: none;
    padding: 0;
    text-shadow: 0 0 10px rgb(153, 16, 187);
}
.sec-texts li span {
    position: relative;
}
.sec-texts li span::before {
    content: '';
    position: absolute;
    left: 0%;
    width: 400px;
    background-color: rgb(153, 16, 187);
    transition: 0.5s;
}
